footer
    #footer(style='background-color:#F0F0E9;')
      .footer-widget
        .container
          .row
            .col-md-4
              .single-widget
                h2 Service
                |               
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='#') Online Help
                  |                 
                  li
                    a(href='#') Contact Us
                  |                 
                  li
                    a(href='#') Order Status
                  |                 
                  li
                    a(href='#') Change Location
                  |                 
                  li
                    a(href='#') FAQ&rsquo;s
            |           
            .col-md-4
              .single-widget
                h2 Policies
                |               
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='#') Terms of Use
                  |                 
                  li
                    a(href='#') Privecy Policy
                  |                 
                  li
                    a(href='#') Refund Policy
                  |                 
                  li
                    a(href='#') Billing System
                  |                 
                  li
                    a(href='#') Ticket System
            |           
            .col-md-4
              .single-widget
                h2 About Shopper
                |               
                form.searchform(action='#')
                  input(type='text', placeholder='Your email address')
                  |                 
                  button.btn.btn-default(type='submit') Submit
                  |                 
                  p Get the most recent updates from our products and be updated your self...
    // footer ends here

footer.container.text-center
  p &copy; 2015 Online Shopping Tech Inc.