.logo-bottom img{width: 25%;}
.page-heading img{margin-left: -27px;margin-bottom: 33px;}
.jumbotron h2{}
.jumbotron p{margin-bottom: 15px;font-size: 18px;margin-top: 22px;}
.jumbotron p:hover{color: rgb(171, 91, 0);}