extends ./includes/layout
block main
  // main aboutus body
  .container
      .row
        .col-md-6
          .page-heading
            img(src='http://www.ebayinc.com/sites/default/files/slides/whoweare_consumer_experience.jpg')
  // Main Content
  .container.jumbotron
    .row
      |       
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h2 iBuy Inc. is a global commerce platform and payments leader.
        |           
        p
          | iBuy Inc. is comprised of three business units with their own distinct brand:  iBuy enables individuals and business to buy and sell online; PayPal enables individuals and businesses to send and receive digital payments; eBay Enterprise enables commerce, retailing and digital marketing for merchants. Our success is tied to our purpose&mdash;creating more opportunities and enabling others to win while making a positive social impact.
    |     
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h2
          | iBuy delivers one of the world&apos;s largest online marketplaces to customers via any connected device, connecting people with the things they need and love.
        |           
        p
          | With 12 million active buyers globally, iBuy is one of the world&apos;s largest online marketplaces, where practically anyone can buy and sell practically anything. Founded in 2008, iBuy connects a diverse and passionate community of individual buyers and sellers, as well as small businesses. Their collective impact on ecommerce is staggering, and approximately 800 million items are listed on iBuy.
  .logo-bottom
    img(src='https://www-techinasiacom.netdna-ssl.com/wp-content/uploads/2013/12/ibuy.jpg')

  
