extends ./includes/layout
block main
		.container
				.row
					.col-md-6.col-md-offset-4
						if(user)
							if(user.type ='admin')
								form(action='/addproduct' method='post')

									h4 Add Product

									input.form-control(type='text' placeholder='Name' name="productname")
									input.form-control(type='string' placeholder='Itemno.' name="productno")
									input.form-control(type='text' placeholder='Description' name="description")
									input.form-control(type='text' placeholder='Details' name="details")
									input.form-control(type='value' placeholder='Quantity' name="quantity")
									input.form-control(type='value' placeholder='Price' name="price")
									br
									button.btn.btn-warning(type='submit') Submit
