extends ./includes/layout
block main
  .container
    .row
      .col-md-6.col-md-offset-4
        #contact.jumbotron
          h2 Contact Form
          div.content
            form(action='/contactus', name='contactus', id='contactus', method='post')
              fieldset
                p
                  h4 Name:
                  
                  input(name='name', type='text', value='', id='name')
                p
                  h4 Email:
                  
                  input(name='email', type='text', value='', id='email')
                p
                  h4 Message:
                  
                  textarea(name='message', cols='60', rows='10', id='message')
                p
                  input(name='submit', type='submit', value='Send', id='submit')

          if(typeof msg !== 'undefined')
            if(!!err)
              div(class='msgbox err') #{msg}
            else
              div(class='msgbox success') #{msg}