extends ./includes/layout
block main
	.container.jumbotron
		h3 Hello #{user.name}; Welcome to our shopping world.
		h3 Your id #{user.email};
		h3 Go to home page and enjoy shopping. Have a great day!
		