.navbar-form{
	

  .form-group, button{
    margin-left: 10px;
  }
}

#navbarid{
	background-color: rgb(21,21,58);
	
    
}

#navleft
{
	padding-top: 7px;

}

#contactnav
{
	background-color: transparent;
	margin-top: 50px;
}